<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deconstructors.kronoui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Auth -->
        <activity android:name=".auth.WelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Menu -->
        <activity android:name=".ui.PlanPage"/>
        <activity
            android:name=".ui.ActivityPage_All"
            android:parentActivityName=".ui.PlanPage"/>
        <activity
            android:name=".ui.FriendPage"
            android:parentActivityName=".ui.PlanPage"/>
        <activity
            android:name=".ui.FriendPage_Detail"
            android:parentActivityName=".ui.FriendPage"/>
        <activity
            android:name=".ui.PlanPage_New"
            android:parentActivityName=".ui.PlanPage"/>
        <!-- Activity Page -->
        <activity
            android:name=".ui.ActivityPage"
            android:parentActivityName=".ui.PlanPage"/>
        <activity
            android:name=".ui.ActivityPage_Detail"/>
        <activity
            android:name=".ui.PlanPage_Detail"/>
        <activity
            android:name=".ui.ActivityPage_New"
            android:parentActivityName=".ui.ActivityPage"/>
    </application>
</manifest>