<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.planactivityuserdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".UserClient"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 1. Authentication -->
        <activity android:name=".authentication.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".authentication.RegisterActivity" />

        <!-- 2. User Interface -->
        <activity android:name=".userinterface.PlansActivity"/>
        <activity android:name=".userinterface.ActivitiesActivity"
            android:parentActivityName=".userinterface.PlansActivity"/>
    </application>

</manifest>