<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deconstructors.krono">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login -->
        <activity android:name=".activities.login.LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.RegisterPage"
            android:parentActivityName=".activities.login.LoginPage"/>

        <!-- Main Menu -->
        <activity android:name=".activities.MainActivity" />
        <!-- Menu 0 Activities -->
        <activity
            android:name=".activities.activities.Menu0_Activities"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.activities.NewActivity"
            android:parentActivityName=".activities.activities.Menu0_Activities" />
        <activity
            android:name=".activities.activities.ActivityDetails"
            android:parentActivityName=".activities.activities.Menu0_Activities" />
        <!-- Menu 1 Plan -->
        <activity
            android:name=".activities.plans.Menu1_Plans"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.plans.NewPlan"
            android:parentActivityName=".activities.plans.Menu1_Plans" />
        <activity
            android:name=".activities.plans.PlansDetails"
            android:parentActivityName=".activities.plans.Menu1_Plans" />
        <!-- Menu 2 Calendar -->
        <!-- Menu 3 Friends -->
        <activity
            android:name=".activities.friends.Menu3_Friends"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.friends.Menu3_Friends_ViewFriend"
            android:parentActivityName=".activities.friends.Menu3_Friends"/>
        <!-- Menu 4 Users -->
        <activity
            android:name=".activities.profile.Menu4_Users"
            android:parentActivityName=".activities.MainActivity"/>
        <!-- Menu 5 Settings -->

        <!-- Tile Service -->
        <service
            android:name=".helpers.MyTileService"
            android:icon="@drawable/quicktile_addactivity"
            android:label="@string/quick_tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>