<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deconstructors.krono">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewPlan"
            android:parentActivityName=".Menu1_Plans" />
        <activity android:name=".Menu3_Friends" />
        <activity android:name=".Menu4_Users" />
        <activity android:name=".Menu1_Plans" />
        <activity android:name=".Menu0_Activities" />
        <activity
            android:name=".NewActivity"
            android:parentActivityName=".Menu0_Activities" />
        <activity android:name=".MainActivity" />
        <!--
 The following sets the login screen as the default boot screen and includes
            the other login screens for use in the app
        -->
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginEmailPass" />
        <activity android:name=".LoginEmailPassRegister" />

        <service
            android:name=".MyTileService"
            android:icon="@drawable/tileservice_inactive"
            android:label="@string/MenuTitle"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>